body{
    background: #1a1a26;

}
*{
	margin: 0;
	padding: 0;
	border: 0;
}
header{
    border-bottom: 1px solid rgb(58, 56, 56);
}
.lista ul{
	list-style:none;
	display: flex;
	justify-content: flex-end;
	margin: 10px;
}
.lista ul li{
	margin-right: 5px;
	padding: 10px;
}
.lista ul li a{
	text-decoration: none;
	color: white;
}
.lista ul li a:hover{
	color: #2ea662;
}
.home{
	color: white;
	padding: 20px 10px 20px 10px;
	display: flex;
	justify-content: space-around;
}
.home img{
	width: 500px;
	height: 500px ;
}
.home h1{
	text-align: center;
	font-size: 50px;
	margin-top: 200px;
}
.home p{
	text-align: center;
	font-size: 30px;
}
.home p mark{
	background-color: #2ea662;
	color: white;
}

/* SEGUNDA PARTE*/

.part2{
	color:white;
	text-align: center;
}
.part2 h2{
	margin-bottom: 20px;
	margin-top: 20px;
}
.dados{
	background-color:rgb(26, 29, 48);
	margin: 50px;
	display: flex;
	justify-content: space-around;
	color: white;

}
.foto2 img{
	border-radius: 50%;
	width: 80px;
	height: 80px;
	margin-top: 30px;
	margin-left:120px; 
	
	
}
.skills
