body{
    background: #1a1a26;

}
*{
	margin: 0;
	padding: 0;
	border: 0;
}
header{
    border-bottom: 1px solid rgb(58, 56, 56);
}
.lista ul{
	list-style:none;
	display: flex;
	justify-content: flex-end;
	margin: 10px;
}
.lista ul li{
	margin-right: 5px;
	padding: 10px;
}
.lista ul li a{
	text-decoration: none;
	color: white;
}
.lista ul li a:hover{
	color: #2ea662;
}
.home{
	color: white;
	padding: 20px 10px 20px 10px;
	display: flex;
	justify-content: space-around;
}
.home img{
	width: 500px;
	height: 500px ;
}
.home h1{
	text-align: center;
	font-size: 50px;
	margin-top: 200px;
}
.home p{
	text-align: center;
	font-size: 30px;
}
.home p mark{
	background-color: #2ea662;
	color: white;
}

/* SEGUNDA PARTE*/

.part2{
	color:white;
	text-align: center;
}
.part2 h2{
	margin-bottom: 20px;
	margin-top: 20px;
	font-size: 32px;

}
.part2 p{
	font-size: 27px;
}
.dados{
	background-color:rgb(34, 34, 51);
	margin: 50px;
	display: flex;
	justify-content: space-around;
	color: white;

}
.foto2 img{
	border-radius: 50%;
	width: 80px;
	height: 80px;
	margin-top: 30px;
	margin-left:250px; 
	
	
}
.foto2 span{
	color: #2ea662;
}
.foto2 p{
	font-size: 27px;
}
.skills{
	margin-top:30px; 
	margin-bottom: 30px;
}
.skills h1{
	text-align: center;
	margin-bottom: 10px;
	font-size: 30px;
}
.skills progress{
	color:#2ea662; 
	margin: 5px;
	width: 350px;
}
.skills p{
	font-size: 20px;
}

/* TERCEIRA PARTE*/


.portifolio{
	color: white;
	background: rgb(34, 34, 51);
}
.portifolio h1{
	margin-bottom: 20px;
	padding: 20px;
	font-size: 32px;
	text-align: center;
}
.portifolio ul{
	list-style:none;
	display: flex;
	justify-content: center;
	margin: 10px;
}
.portifolio ul li{
	margin-right: 5px;
	padding: 10px;
}
.portifolio ul li a{
	text-decoration: none;
	color: white;
}
.portifolio ul li a:hover{
	color: #2ea662;
}
.card{
	margin: 70px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 15px;
	margin-left: 180px;
}
.card img{
	width: 300px;
	height: 290px ;
	margin-bottom: 30px;
}

/* QUARTA PARTE*/
.services{
	margin-left:15px; 
	margin-right: 15px;
	margin-bottom: 20px;

}

.services h1{
	color: white;
	text-align: center;
}
.icons{
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
	margin-bottom: 10px;
	
}
.servs{
	display: flex;
	justify-content: space-around;
	color: white;
	margin-bottom: 8px;
}
.parag{
	display: flex;
	justify-content: space-around;
	color: white;
}

/*QUINTA PARTE*/

.plays{
	color: white;
	background: rgb(34, 34, 51);
}
.top1{
	display: flex;
	justify-content: space-around;
}
.top2{
	display: flex;
	justify-content: space-around;
}
